<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css" />
    <script type="text/javascript" src="/static/js/datatables.min.js"></script>
    <script type="text/javascript">$(document).ready(function () { $("table").DataTable(); })</script>
</head>

<body>
    <div class='header'>
        <img src='/static/img/logo.png' class='logo' />
        <h1>
            {{ title }}
        </h1>
    </div>
    <div class="content">
        <div class="section">
            <h2>Overview</h2>
            <p>
                {{ overview }}
            </p>
        </div>
        <div class="section">
            <h2>Table</h2>
            <p>
                {{ table | safe }}
            </p>
        </div>
        <div class="section">
            <h2>Distribution</h2>
            <p>
                {{ distribution.text }}
            </p>
            <figure>
                <img src={{ distribution.image }} />
                <figcaption>{{ distribution.caption }}</figcaption>
            </figure>
        </div>
        <div class="section">
            <h2>Advanced</h2>
            {% for section in advanced %}
            <p>
                {{ section.text }}
            </p>
            <figure>
                <img src={{ section.image }} />
                <figcaption>{{ section.caption }}</figcaption>
            </figure>
            {% endfor %}
        </div>
        <div class="section">
            <h2>Interactive Graph</h2>
            {{ plotly_graph | safe }}
        </div>
    </div>
</body>

</html>